<img src="images/{{book.Photo}}" alt="image for {{book.Name}">
<h3>{{book.Name}}</h3>
a book by
<b>{{book.Author}}</b>
<br>
<div class="tooltip">
    {{(book.likes.length == 1) ? "1 like " : book.likes.length + " likes"}}
    <span class="tooltiptext" data-ng-show="book.likes.length > 0">
        <div data-ng-repeat="myLike in book.likes">
            <a href="{{ 'CustomerServlet/user/' + myLike.Username }}" data-ng-show="bookUserData.adminLogged">{{ myLike.Username }}</a>
            <span data-ng-show="!bookUserData.adminLogged">{{ myLike.Username }}</span>
        </div>
    </span>
</div>
<p id="{{book.Name +_description}}">
    {{book.Description}}
</p>
<br> Price: {{book.Price}} $
<br> Reviews : {{ book.reviews.length }}
<ul>
    <li data-ng-repeat="review in book.reviews">
        Review #{{$index +1 }}, by {{review.Username}}.
        <br>written at {{review.dateWritten | date:'medium'}}.
        <p>{{review.reviewText}}</p>
        <!-- {{ review.IdReviews + ", by: " + review.Username + ", text: " + review.reviewText }} -->
    </li>
</ul>
<div data-ng-show="(bookUserData.isLogged && userBoughtThisBook(book.Name))">
    <button class="btn" ng-class="{ 'btn-success': (bookUserData.isLogged && userLikedThisBook(book.likes)) }">like</button>
    <button class="btn">add review</button>
    <button class="btn-info" ng-click="readBook(book.Name)">read book</button>
</div>

<!-- <ul>

    <li>{{book.Name}}
    </li>
    <li>
        Author: {{book.Author}}
    </li>
    <li>
        <img src="images/{{book.Photo}}" alt="image for {{book.Name}">
    </li>
    <li>
        Price: {{book.Price}} $
    </li>
    <li>
        Description: {{book.Description}}
    </li>
    <li>
        <div class="tooltip">
            likes: {{ book.likes.length }}
            <span class="tooltiptext">
                <div data-ng-repeat="myLike in book.likes">
                    <a href="{{ 'CustomerServlet/user/' + myLike.Username }}" data-ng-show="bookUserData.adminLogged">{{ myLike.Username }}</a>
                    <span data-ng-show="!bookUserData.adminLogged">{{ myLike.Username }}</span>
                </div>
            </span>
        </div>
    </li>
    <li>
        Reviews : {{ book.reviews.length }}
        <ul>
            <li data-ng-repeat="review in book.reviews">
                {{ review.IdReviews + ", by: " + review.Username + ", text: " + review.reviewText }}
            </li>
        </ul>
    </li>
</ul> -->