
{{myBook}}
<img src="images/{{book.Photo}}" alt="image for {{book.Name}">
<h3>{{book.Name}}</h3>
a book by
<b>{{book.Author}}</b>
<br>
<div class="tooltip">
    {{(book.likes.length == 1) ? "1 like " : book.likes.length + " likes"}}
    <span class="tooltiptext" data-ng-show="book.likes.length > 0">
        <div data-ng-repeat="myLike in book.likes">
            <a href="{{ 'CustomerServlet/user/' + myLike.Username }}" data-ng-show="bookUserData.adminLogged">{{ myLike.Username }}</a>
            <span data-ng-show="!bookUserData.adminLogged">{{ myLike.Username }}</span>
        </div>
    </span>
</div>
<p id="{{book.Name +' _description'}}">
    {{book.Description}}
</p>
<small>[bookid:{{book.IdBook}}]</small>
<br> Price: {{book.Price}} $
<br> Reviews : {{ book.reviews.length }}
<div data-ng-show="bookUserData.isLogged">
    <div data-ng-show="!smallReviewShow">
        <button class="btn" data-ng-click="smallReviewShow = true">show reviews</button>
    </div>
    <div data-ng-show="smallReviewShow">
            <button class="btn" data-ng-click="smallReviewShow = false">hide</button>
        </div>
    <div data-ng-show="smallReviewShow">
        <ul>
            <li data-ng-repeat="review in book.reviews">
                Review #{{$index +1 }}, by {{review.Username}}.
                <br>written at {{review.dateWritten | date:'medium'}}.
                <p>{{review.reviewText}}</p>
                <!-- {{ review.IdReviews + ", by: " + review.Username + ", text: " + review.reviewText }} -->
            </li>
        </ul>
    </div>
</div>
<div data-ng-show="(bookUserData.isLogged && userBoughtThisBook(book.Name))">
     <!-- data-ng-include="'reviewForm.html'"> -->
    <button class="btn" data-ng-click="likeBook(book)" data-ng-class="{ 'btn-success': (bookUserData.isLogged && userLikedThisBook(book.likes)) }">like</button>
    <button class="btn" data-ng-click="addReviewOpen(book.Name)">add review</button>
    <button class="btn-info" data-ng-click="readBook(book.FullHtml)">read book</button>

<!--     ### review moved to global view. -->
</div>
<div data-ng-show="(bookUserData.isLogged && !userBoughtThisBook(book.Name))" >
    <!-- data-ng-include="'buyForm.html'"> -->
    <button class="btn" data-ng-click="buyBookOpen(book.Name, book.IdBook)">Buy this book Now!</button> only {{book.Price}} $
<!--     ### buy moved to global scope ### -->


</div>
<hr>
