<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BooksForAll</title>
    <script src="lib/angular.min.js"></script>
    <script src="js/bookApp.js"></script>
    <script src="lib/jquery-3.2.1.js"></script>
    <script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bookApp.css">
</head>

<body>
    <div data-ng-app="bookApp">
        <div data-ng-controller="loginController">
            <div name="WelcomeUser">
                <input type="button" value="login" data-ng-show="!loginUserData.isLogged" data-ng-click="openLogin()">
                <input type="button" value="register" data-ng-show="!loginUserData.isLogged" data-ng-click="openRegister()">
                <div data-ng-show="loginUserData.isLogged">
                    <!--<span data-ng-show="isLogged"> Hello, {{ loggedUser }}</span>
                    <a href="#userBoard" data-ng-show="isLogged">User board</a>-->
                    <span> Hello, {{ loginUserData.loggedUser }}</span>
                    <a href="#userBoard">User profile</a>
                    <span data-ng-show="loginUserData.adminLogged">
                        &nbsp;|&nbsp;
                        <a href="#adminMode" data-ng-click="loginUserData.adminMode()">Admin board</a>
                    </span>
                    &nbsp;|&nbsp;
                    <a href="" data-ng-click="logoutFunc()">Logout</a>
                </div>
            </div>
            <div data-ng-show="loginMode" class="modalForm">
                <h3>login</h3>
                <form data-ng-submit="loginFunc()" name="loginForm">
                    <div class="form-group">
                        <label for="loginUser">User Name</label>
                        <input type="text" class="form-control" placeholder="username" name="loginUser" data-ng-model="login.User" required data-ng-maxlength="10">
                        <div role="alert">
                            <span class="error" data-ng-show="loginForm.loginUser.$error.maxlength">
                                too long
                            </span>
                            <span class="error" data-ng-show="loginForm.loginUser.$touched && loginForm.loginUser.$error.required">
                                required!
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="loginPassword">Password</label>
                        <input type="password" class="form-control" placeholder="123456" name="loginPassword" data-ng-model="login.Password" required
                            data-ng-maxlength="9">
                        <div role="alert">
                            <span class="error" data-ng-show="loginForm.loginPassword.$error.maxlength">
                                too long
                            </span>
                            <span class="error" data-ng-show="loginForm.loginPassword.$touched && loginForm.loginPassword.$error.required">
                                required!
                            </span>
                        </div>
                    </div>
                    <div role="alert">
                        <span data-ng-show="loginForm.$submitted && loginForm.$invalid">
                            Form is not filled correctly.
                        </span>
                        <span data-ng-show="loginFormErrorToggle">
                            {{ loginFormError }}
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary">Login!</button>
                    <button type="reset" class="btn btn-danger">reset</button>
                </form>
            </div>
            <div data-ng-show="registerMode" class="modalForm registerForm">
                <h3>Registeration</h3>
                <form data-ng-submit="registerFunc()" name="registerForm">
                    <div class="form-group">
                        <label for="registerUser">User Name</label>
                        <input type="text" class="form-control" placeholder="username" name="registerUser" data-ng-model="register.User" required
                            data-ng-maxlength="10">
                        <div role="alert">
                            <span class="error" data-ng-show="registerForm.registerUser.$error.maxlength">
                                too long
                            </span>
                            <span class="error" data-ng-show="registerForm.registerUser.$touched && registerForm.registerUser.$error.required">
                                required!
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="registerPassword">Password</label>
                        <input type="password" class="form-control" placeholder="123456" name="registerPassword" data-ng-model="register.Password"
                            required data-ng-maxlength="8">
                        <div role="alert">
                            <span class="error" data-ng-show="registerForm.registerPassword.$error.maxlength">
                                too long
                            </span>
                            <span class="error" data-ng-show="registerForm.registerPassword.$touched && registerForm.registerPassword.$error.required">
                                required!
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registerNickName">Nickname</label>
                        <input type="text" class="form-control" placeholder="nickname" name="registerNickName" data-ng-model="register.NickName"
                            required data-ng-maxlength="20">
                        <div role="alert">
                            <span class="error" data-ng-show="registerForm.registerNickName.$error.maxlength">
                                too long
                            </span>
                            <span class="error" data-ng-show="registerForm.registerNickName.$touched && registerForm.registerNickName.$error.required">
                                required!
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registerEmail">Email</label>
                        <input type="email" class="form-control" placeholder="email@domain.com" name="registerEmail" data-ng-model="register.Email"
                            required>
                        <div role="alert">
                            <span class="error" data-ng-show="registerForm.registerEmail.$dirty && registerForm.registerEmail.$invalid">
                                Not a valid mail!
                            </span>
                            <span class="error" data-ng-show="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.required">
                                required!
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registerTelephoneArea">Telephone</label>
                        <select class="form-control" name="registerTelephoneArea" data-ng-model="register.Telephone.Area" required>
                            <option value="">Select..</option>
                            <option value="050">050</option>
                            <option value="052">052</option>
                            <option value="053">053</option>
                            <option value="054">054</option>
                            <option value="055">055</option>
                            <option value="056">056</option>
                            <option value="057">057</option>
                            <option value="058">058</option>
                            <option value="059">059</option>
                        </select>
                        <input type="text" class="form-control" placeholder="1234567" name="registerTelephoneFull" data-ng-pattern="/^\d+$/" data-ng-model="register.Telephone.Full"
                            required data-ng-minlength="7" data-ng-maxlength="7">
                        <div role="alert">
                            <span class="error" data-ng-show="(registerForm.registerTelephoneFull.$dirty && registerForm.registerTelephoneFull.$error.pattern) || (registerForm.registerTelephoneFull.$touched && registerForm.registerTelephoneFull.$invalid)">
                                Telephone without Area code is 7 digit long
                            </span>
                            <span class="error" data-ng-show="registerForm.registerTelephoneFull.$touched && registerForm.registerTelephoneFull.$error.required">
                                required!
                            </span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="registerAddressStreet">Address:
                            <br>Street and house number</label>
                        <input type="text" class="form-control" placeholder="11 Moshe St" name="registerAddressStreet" data-ng-model="register.Address.Street"
                            required>

                        <label for="registerAddressCity">City</label>
                        <input type="text" class="form-control" placeholder="Haifa" name="registerAddressCity" data-ng-model="register.Address.City"
                            required data-ng-minlength="2">

                        <label for="registerAddressZip">Zip</label>
                        <input type="text" class="form-control" placeholder="1234567" name="registerAddressZip" data-ng-model="register.Address.zip"
                            required data-ng-minlength="7" data-ng-maxlength="7" data-ng-pattern="/^\d+$/">

                        <div role="alert">
                            <span class="error" data-ng-show="registerForm.registerAddressCity.$touched && registerForm.registerAddressCity.$invalid">
                                City has at least 2 characters.
                            </span>
                            <span class="error" data-ng-show="registerForm.registerAddressZip.$dirty && registerForm.registerAddressZip.$error.pattern">
                                zip is digits only (7 digit long)
                            </span>
                            <span class="error" data-ng-show="(registerForm.registerAddressZip.$touched && registerForm.registerAddressZip.$invalid && !registerForm.registerAddressZip.$error.pattern) || (registerForm.registerAddressZip.$error.maxlength && !registerForm.registerAddressZip.$error.pattern)">
                                zip is 7 digit long
                            </span>
                            <span class="error" data-ng-show="((registerForm.registerAddressStreet.$touched && registerForm.registerAddressStreet.$error.required) || (registerForm.registerAddressCity.$touched && registerForm.registerAddressCity.$error.required) || (registerForm.registerAddressZip.$touched && registerForm.registerAddressZip.$error.required))">
                                All address fields are required!
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registerAbout">Short Description</label>
                        <textarea class="form-control" rows=3 placeholder="Short description about you. max 50 chars." name="registerAbout" data-ng-model="register.About"
                            data-ng-maxlength="50"></textarea>
                        <div role="alert">
                            <span class="error" data-ng-show="registerAbout.$error.maxlength">
                                too long (50 chars max)
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registerPhoto">Photo (url)</label>
                        <input type="url" class="form-control" placeholder="link to your photo." name="registerPhoto" data-ng-model="register.photo">
                    </div>
                    <div role="alert">
                        <span data-ng-show="registerForm.$submitted && registerForm.$invalid">
                            Form is not filled correctly.
                        </span>
                        <span data-ng-show="RegisterFormErrorToggle">
                            {{ registerFormError }}
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register!</button>
                    <button type="reset" class="btn btn-danger">reset</button>
                </form>
            </div>
            <!-- register mode -->
        </div>
        <!-- login controller -->
        <div data-ng-controller="bookController">
            <div>
                <button data-ng-click="allbooks()">All books</button>
                <button data-ng-click="purchasedbooks()" data-ng-show="bookUserData.isLogged">Purchased books</button>
                <form data-ng-submit="singlebook()">
                    <select name="chosenBook" id="chosenBook" data-ng-model="chosenSingleBook" required data-ng-change="singlebook()">
                        <option value="">Choose one...</option>
                        <option value="{{bookname}}" data-ng-repeat="bookname in booklistnames">{{bookname}}</option>
                    </select>
                    <input type="submit" value="Single book">
                </form>
            </div>

            <div data-ng-show="booklistView.All">
                Books available: {{ booklist.length }}
                <ul>
                    <li data-ng-repeat="book in booklist" data-ng-include="'bookDetail.html'">
                    </li>
                </ul>
            </div>
            <!-- booklistView.All -->
            <div data-ng-show="booklistView.Purchased">
                <!-- Purchased books: {{purchasedBooklist.length}} -->
                Purchased books: {{bookUserData.purchasedBooks.length}}
                <ul>
                    <li data-ng-repeat="book in bookUserData.purchasedBooks" data-ng-include="'bookDetail.html'">
                    </li>
                </ul>
            </div>
            <!-- booklistView.Purchased -->
            <div data-ng-show="booklistView.singleBook">
                Single book view:
                <div data-ng-repeat="book in [singleBook]" data-ng-include="'bookDetail.html'">
                </div>
            </div>
            <!-- booklistView.singleBook -->
            <div data-ng-show="readMode">
                <div class="stickyMenu">
                    <button class="btn" data-ng-click="readModeFuncs.savePosition()">Save position</button>
                    <button class="btn" data-ng-click="readModeFuncs.goBack()">Go to saved location</button>
                    <button class="btn" data-ng-click="readModeFuncs.saveAndStop()">Save position and stop reading</button>
                    <button class="btn" data-ng-click="readModeFuncs.stopReading()">Stop reading</button>
                </div>
                <div data-ng-include="bookReadOn"></div>
            </div>
            <div data-ng-show="addReviewShow" class="modalForm">
                <!-- <form data-ng-submit="addReview(bookToReview)" name="reviewBookForm"> -->
                <form data-ng-submit="addReview(bookToReview)" name="reviewBookForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-ng-click="addReviewClose()">&times;</button>
                        <h4 class="modal-title">Add Review</h4>
                    </div>
                    <div class="form-group">
                        <label for="bookToReview">Book name</label>
                        <p class="form-control-static" name="bookToReview" id="bookToReview">{{bookToReview}}</p>
                    </div>
                    <fieldset data-ng-disabled="addReviewFinish">
                        <div class="form-group">
                            <label for="newReview">Add new review</label>
                            <textarea name="newReview" class="form-control" cols="30" rows="10" data-ng-model="newReview" required></textarea>
                            <small class="form-text text-muted">(will be shown after admin approval)</small>
                        </div>
                        <input type="submit" class="bt btn-primary" value="Add review">
                    </fieldset>
                    <div data-ng-show="addReviewFinish" class="modalFinish modal-header">
                        <h4 class="modal-title">{{reviewFinishText}}</h4>
                        <button type="button" class="btn" data-ng-click="addReviewClose()">Close Form</button>
                    </div>
                </form>
            </div>
            <!-- add review -->
            <div data-ng-show="buyBookFormShow" class="modalForm">
                <form data-ng-submit="buyBookFunc()" name="buyForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-ng-click="buyBookClose()">&times;</button>
                        <h4 class="modal-title">Buy Book</h4>
                    </div>
                    <div class="form-group">
                        <label for="bookToBuy">Book name</label>
                        <p class="form-control-static" name="bookToBuy" id="bookToBuy">{{ bookToBuy }}</p>
                    </div>
                    <fieldset data-ng-disabled="buyBookFinish">
                        <div class="form-group">
                            <label for="buyBookVisaType">Credit Type</label>
                            <select name="buyBookVisaType" data-ng-model="buyBook.type" required>
                                <option value="">Type..</option>
                                <option value="VISA">VISA</option>
                                <option value="AMEX">AMEX</option>
                                <option value="Diners">Diners</option>
                                <option value="Mastercard">Mastercard</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="buyBookVisa">visa number [16 digits]</label>
                            <input type="text" name="buyBookVisa" data-ng-model="buyBook.visa" required data-ng-pattern="/^\d+$/" required data-ng-minlength="16"
                                data-ng-maxlength="16" placeholder="1234567812345678" required>
                            <div role="alert">
                                <span class="error" data-ng-show="buyForm.buyBookVisa.$dirty && buyForm.buyBookVisa.$error.pattern">
                                    only numbers!
                                </span>
                                <span class="error" data-ng-show="buyForm.buyBookVisa.$error.maxlength">
                                    too long
                                </span>
                                <span class="error" data-ng-show="buyForm.buyBookVisa.$touched && buyForm.buyBookVisa.$error.minlength">
                                    too short
                                </span>
                                <span class="error" data-ng-show="buyForm.buyBookVisa.$touched && buyForm.buyBookVisa.$error.required">
                                    required!
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="buyBookCSV">csv [3-4 digits]</label>
                            <input type="text" name="buyBookCSV" data-ng-model="buyBook.csv" required data-ng-pattern="/^\d+$/" data-ng-minlength="3"
                                data-ng-maxlength="4" placeholder="123" required>
                            <span class="error" data-ng-show="buyForm.buyBookCSV.$dirty && buyForm.buyBookCSV.$error.pattern">
                                only numbers!
                            </span>
                            <span class="error" data-ng-show="buyForm.buyBookCSV.$error.maxlength">
                                too long
                            </span>
                            <span class="error" data-ng-show="buyForm.buyBookCSV.$touched && buyForm.buyBookCSV.$error.minlength">
                                too short
                            </span>
                            <span class="error" data-ng-show="buyForm.buyBookCSV.$touched && buyForm.buyBookCSV.$error.required">
                                required!
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="buyBookExpiryMonth">Expiry date Month/Year</label>
                            <select name="buyBookExpiryMonth" data-ng-model="buyBook.expiry.month" required>
                                <option value="">MM</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            /
                            <select name="buyBookExpiryYear" data-ng-model="buyBook.expiry.year" required>
                                <option value="">YYYY</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                            </select>
                        </div>
                        <div role="alert">
                            <span data-ng-show="buyForm.$submitted && buyForm.$invalid">
                                Form is not filled correctly.
                            </span>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Complete the purchase">
                        <button type="reset" class="btn btn-danger">reset</button>
                    </fieldset>
                    <div data-ng-show="buyBookFinish" class="modalFinish modal-header">
                        <h4 class="modal-title">{{buyBookFinishText}}</h4>
                        <button type="button" class="btn" data-ng-click="buyBookClose()">Close Form</button>
                    </div>
                </form>
            </div>
            <!-- buy book -->
        </div>
        <!-- bookController -->
        <div data-ng-controller="adminController">
            <div data-ng-show="adminMode">
                <div data-ng-show="AdminViews.adminMenuView">
                    <button class="btn" data-ng-click="AdminViews.show('reviews')">Reviews</button>
                    <button class="btn" data-ng-click="AdminViews.show('users')">Users</button>
                    <button class="btn" data-ng-click="AdminViews.show('transactions')">Transactions</button>
                    <button class="btn" data-ng-click="AdminViews.show('books')">Books</button>
                </div>
                <div data-ng-switch="AdminViews.whatToShow">

                    <div data-ng-switch-when="reviews">
                        'adminReviews.html'
                        <div data-ng-include="'adminReviews.html'">
                            // reviews show -> yet to be approved, and old ones. -> verify review writer bought the book.
                        </div>
                    </div>
                    <div data-ng-switch-when="users">
                        'adminUsers.html'
                        <div data-ng-include="'adminUsers.html'">
                            // browse users (with details) -> del user, confirm msg
                        </div>
                    </div>

                    // book overview - done, including tooltip // ? times bought?

                    <div data-ng-switch-when="transactions">
                        'adminTransactions.html'
                        <div data-ng-include="'adminTransactions.html'">
                            // recent ebook transactions - purchases, by date, ebook, user.

                        </div>
                    </div>
                    <div data-ng-switch-when="books">
                        regular booklist....
                    </div>
                    <div data-ng-switch-default>

                    </div>
                </div>


                // review notification.
            </div>

        </div>
        <!-- adminController -->
    </div>
    <!-- book app -->

</body>

</html>